@import 'var';

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 15px;
    background-color: #302C42;
    color: #fff;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
}

.container {
    max-width: 1295px;
    padding: 0 10px;
    margin: 0 auto;
}
