@import 'global';
@import 'var';
@import 'reset';

.header {
    margin-bottom: 90px;
    &__top {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 124px;
        font-weight: 700;
    }
    
    .logo {
    }
    .logo__img {
    }
    .menu {
        &__list {
            padding-top: 44px;
            display: flex;
            justify-content: space-between;
            &-item {
            }
            &-link {
            }
        }
    }
    &__buttons {
        padding-top: 29px;
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        @include purple-btn;
        padding: 17px 38px;
    }

    .promo {
        display: flex;
        justify-content: space-between;
        margin-bottom: 103px;
        &__info {
            padding-top: 22px;
            max-width: 456px;
            margin-top: 36px;
            &-title {
            }
            &-descr {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 66px;
            }
            &-btn {
                @include purple-btn;
            }
        }
    
        &__media {
            &-img {
            }
        }
    }

    .contacts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
        border-radius: 90px;
        padding: 49px 39px;
        &__item {
            &-img {
            }
            &-title {
                margin-bottom: 10px;
            }
            &-text {
            }
        }
    }
}




.about {
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 101px;
        &-heading {

        }
        &-title {
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 10px;
        }
        &-subtitle {
            font-weight: 300;
            font-size: 36px;
            line-height: 44px;
        }
        &-text {
            font-size: 16px;
            line-height: 20px;
        }
        &-media {
        }
        &-img {
        }
        &-info {
            max-width: 630px;
        }
        &-btn {
        }
    }
}


.purpose {
    margin-bottom: 114px;
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 11px;
    }
    &__item {
        background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
        border-radius: 40px;
        padding: 23px 25px;
        &-img {
            margin-bottom: 35px;
        }
        &-title {
            padding-bottom: 18px;
            border-bottom: 1px solid rgba(192, 183, 232, 0.33);
            margin-bottom: 22px;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
        }
        &-text {
            margin-bottom: 35px;
        }
        &-btn {
            max-width: 154px;
            @include purple-btn;
            padding: 16px 39px;
        }
    }
}


.technologies {
    margin-bottom: 80px;
    &__banner {
        background-image: url(../images/technologies.png);
        text-align: center;
        margin-bottom: 54px;
        &-title {
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 11px;
        }
        &-subtitle {
            font-weight: 300;
            font-size: 36px;
            line-height: 44px;
        }
    }
    
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        &-img {
        }
    }
}


.how {
    &__title {
    }
    &__subtitle {
    }
    &__descr {
    }
    &__path {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        &-number {
        }
        &-descr {
        }
    }
}



.join {
    &__form {
        &-title {
        }
        &-descr {
        }
        &-input {
            padding: 27px 42px;
            border: 2px solid #FFFFFF;
            border-radius: 40px;
            background-color: transparent;
        }
        &-textarea {
        }
    }
}




.footer {
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        &-btn {

        }
    }
    &__menu {
        &-list {
        }
        &-item {
        }
        &-link {
        }
        &-title {
        }
    }

    .social {
        &__list {
            &-item {
            }
            &-link {
            }
            &-img {
            }
        }
    }

    &__policy {
        &-text {
        }
    }
}










